<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= image_tag @event.cover_image.variant(resize_to_limit: [450, 450])%>

  <%= rails_blob_path(@event.cover_image, only_path: true)%>
  
  <br>




  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
